@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}

:root {
  color-scheme: light dark;
  --display-bgr: #e5ede5;
  --standard-btn: #e0e0e0;
  --active-btn: #a7b3b5;
  --special-btn: #e59669;
  --lightmode-shadow: #a7b3b565;
}

.light_mode_active {
  --display-bgr: #e5ede5;
  --standard-btn: #e0e0e0;
  --active-btn: #a7b3b5;
  --special-btn: #e59669;
}

/* ********DARK MODE********* */
@media (prefers-color-scheme: dark) {
  :root {
  --display-bgr: #2D2D2D;
  --standard-btn: #424242;
  --active-btn: #a7b3b5;
  --special-btn: #FF5722;
}
}

.dark_mode_active {
  --display-bgr: #2D2D2D;
  --standard-btn: #424242;
  --active-btn: #a7b3b5;
  --special-btn: #FF5722;
}

body {
  display: grid;
  place-items: center;
  font-family: "Lato";
  background-color: var(--display-bgr);
}

.divider {
  height: 60%;
  width: 2px;
  background-color: black;
}

.wrapper {
  height: 100dvh;
  width: 100%;
  max-width: 1220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.main {
  width: 68%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 24px;
  padding: 24px;
}

.examples {
  width: 28%;
  height: 60%;
  overflow-y: auto;
  padding: 24px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.current_example {
  min-height: 2rem;
}

.current_result {
  min-height: 3rem;
}

.current_display {
  display: grid;
  place-items: flex-end;
}

.one_btn {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--standard-btn);
  box-shadow: var(--active-btn) 0px 7px 29px 0px;
  cursor: pointer;
}

.one_btn:active {
  background-color: var(--active-btn);
}

#clear_entry {
  background-color: var(--special-btn);
}

#clear_entry:active {
  background-color: #e88b57;
}

.number_btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 4%;
  height: 100%;
  width: 100%;
}

/* ********RESPONSIVE********* */
@media (max-width: 535px) {
  .wrapper {
    flex-direction: column;
  }
  .divider {
    height: 2px;
    width: 80%;
  }
  .main {
    width: 80%;
    height: 60%;
  }
  .examples {
    width: 100%;
    height: 28%;
    overflow-x: auto;
    padding: 0 4rem;
  }
}

